input {
    font-size: 18px;
    line-height: 26px;
    margin: 12px;
}

button {
    font-size: 18px;
    line-height: 26px;
    margin: 12px;
}

.add-form {
    display: flex;
    justify-content: center;
    align-items: center;
}